@using RAG.AI.Infrastructure.Dtos.ContactMessages
@using RAG.AI.Infrastructure.Dtos.Operations
@using RAG.AI.Infrastructure.Dtos.Users
@using RAG.AI.Infrastructure.Extentions
@using RAG.AI.Presenter.Web.Areas.Admin.ViewModels.UserViewModels
@model OperationDto




<div class="card border-dark">
    <div class="card-header bg-dark d-flex justify-content-between">
        <h4 class="m-b-0 text-white">
            @Model.Title
        </h4>
        <div class="dropdown">
            @*    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-cog"></i>
            </button>
            <div class="dropdown-menu px-3" aria-labelledby="dropdownMenuButton">
            <a asp-action="ExportUsers" class="btn btn-primary btn-rounded mb-3 btn-block"><i class="fa fa-file-excel"></i> خروجی</a>
            </div> *@
        </div>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-12 col-12 form-group">
                <label class="control-label col-md-12 col-sm-12 col-12 ">
                    عنوان
                </label>
                <input type="text" disabled asp-for="Title" class="form-control">
            </div>

            <div class="col-md-12 col-12 form-group">
                <label class="control-label col-md-12 col-sm-12 col-12 ">
                    نوع
                </label>
                <input type="text" disabled value="@Model.OperationType.ToString()" class="form-control">
            </div>

            <div class="col-md-12 col-12 form-group">
                <label class="control-label col-md-12 col-sm-12 col-12 ">
                    مبلغ
                </label>
                <p disabled class="form-control">
                    @if (Model.OperationType.IsGold)
                    {
                        @Html.Raw(Model.TotalAmount.ToGram())
                    }
                    else
                    {
                        @Html.Raw(Model.TotalAmount.ToToman())
                    }
                </p>
            </div>
            <div class="col-md-12 col-12 form-group">
                <label class="control-label col-md-12 col-sm-12 col-12 ">
                    تاریخ
                </label>
                <input type="text" disabled value="@Model.OperationDate.ToShamsi("yyyy/MM/dd", true)" class="form-control">
            </div>


            <div class="form-group  col-12">
                <label for="title"> توضیحات</label>
                <textarea asp-for="Description" disabled type="text" class="form-control"></textarea>
            </div>

            <div class="col-md-12 col-12 form-group">


                <div class="table-responsive" style="min-height: 50vh">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    شناسه تراکنش
                                </th>
                                <th>
                                    مبلغ
                                </th>
                                <th>
                                    توضیحات
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Transactions.Any())
                            {
                                @foreach (var item in Model.Transactions)
                                {
                                    <tr>
                                        <td>
                                            @item.TransactionId
                                        </td>
                                        <td>
                                            @Html.Raw(item.Amount.ToToman())
                                        </td>
                                        <td>
                                            @item.TransactionDescription
                                        </td>
                                    </tr>
                                }

                            }
                            else
                            {
                                <tr>
                                    <td>
                                        <p>رکوردی وجود ندارد</p>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>


                </div>



            </div>
        </div>

    </div>
</div>


